In [5]:
Numbers="0123456"

Numbers[::2]

'0246'

In [1]:
"0123456".find('1')

1

In [2]:
'1' + '2'

'12'

In [3]:
myvar = 'hello'
myvar.upper()

'HELLO'

In [4]:
var = '01234567'
print(var[::2])

0246

In [5]:
3 + 2 * 2

7

In [6]:
name = 'Lizz'
print(name[0:2])

Li

In [3]:
A=(0,1,2,3)

In [6]:
B=["a","b","c"]
B[1:]

['b', 'c']

In [1]:
S={'A','B','C'}
U={'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

In [2]:
# What is the intersection of set S and U ?

S={'A','B','C'}
U={'A','Z','C'}
print(S.intersection(U))

{'A', 'C'}

In [4]:
D={'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [5]:
D={'a':0,'b':1,'c':2}
D['b']

1

In [6]:
A=('a','b','c')
A[0]

'a'

In [9]:
L = ['a','b']
L.append(['a','b'])
L

#The list is now one element longer after applying 'append' method.

['a', 'b', ['a', 'b']]

In [8]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

In [10]:
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

#Set cannot have any duplicate elements, any of them will be automatically deleted as seen above

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [2]:
x='a'
if(x!='a'):
    print("this is not a")
else:
    print("this is a")

this is a

In [3]:
1!=0

True

In [4]:
0!=0

False

In [5]:
-1!=0

True

In [6]:
100000000!=0

True

In [7]:
A=[3,4,5]
for a in A:
    print(a)

3
4
5

In [8]:
x=3
y=1
while(y!=x):
    print(y)
    y=y+1

1
2

In [14]:
# a=1
# def add(b):
#     return a+b
# c=add(10)

# print(c)

In [15]:
def f(*x):
    return sum(c)
print(c)

11

In [3]:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1
        
        
        make="Honda"

model="Accord"

color="blue"

my_car = Car(make, model, color)

print(my_car)

<__main__.Car object at 0x000002095C6ADC40>

In [5]:
x=1

if(x!=1):
    
    print('Hello')
    
else:
        
    print('Hi')
        
print('Mike')

Hi
Mike

In [6]:
A=['1','2','3']

for a in A:
    
    print(2*a)

11
22
33

In [9]:
# Consider the function Delta, when will the function return a value of 1

def Delta(x):
    
    if x==0:
        
        y=1;
    
    else:
        
        y=0;
        
    return(y)


x=1

In [10]:
B = [100, 50, 65, 82, 23]
B.sort()
print(B)

[23, 50, 65, 82, 100]

In [12]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [15]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool